body {
  margin: 0;
  padding: 0 20px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #849d8f;
 
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
  
  }
  
  .site-wrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("../img/twoice1.png");
    background-repeat: no-repeat;
    background-position: top center;
    
    transition: background-image 0.5s ease, background-color 0.5s ease;
    
    /* Для демонстрации */
    min-height: 100vh;
  }
  
  .site-wrapper::before,
  .site-wrapper::after {
    content: "";
  
    visibility: hidden;
  }
  
  .site-wrapper::before {
    background-image: url("../img/twoice2.png");
  }
  
  .site-wrapper::after {
    background-image: url("../img/twoice3.png");
  }
  
  .container {
    width: 900px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .main-header {
    /* Для демонстрации */
    height: 100px;
  
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .slider {
    position: relative;
    
    padding-top: 321px;
    
    text-align: center;
    color: #ffffff;
  }
  
  .slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
  }
  
  .slide {
    display: none;
  }
  
  .slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    text-transform: none;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
  }
  
  .button {
    display: inline-block;
    padding: 12px 44px;
  
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
  
    cursor: pointer;
  }
  
  .button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  }
  
  .button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  }
  
  .slider-controls {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 20;
    
    font-size: 0;
  }
  
  .slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
  
    vertical-align: top;
  
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/twoice1.png");
  }
  
  #product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/twoice2.png");
  }
  
  #product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/twoice3.png");
  }
  
  #product-1:checked ~ .site-wrapper #slide1,
  #product-2:checked ~ .site-wrapper #slide2,
  #product-3:checked ~ .site-wrapper #slide3 {
    display: block;
  }
  
  #product-1:checked ~ .site-wrapper label[for="product-1"],
  #product-2:checked ~ .site-wrapper label[for="product-2"],
  #product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
  }
  

.site-button {
    display: inline-block;
font: inherit;
text-align: center;
font-size: 18px;
line-height: 24px;
color: #ffffff;
border:none;
border-radius: 50px;
padding: 10px 24px;
box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
background-image: linear-gradient(#f26843,#e84e37);
cursor: pointer;
}


.site-button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  }
  
  .site-button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  }

  
.page-header {
    margin-bottom: 10px;
    min-height: 74px;
    padding-top: 10px;
   
}

.page-menu {
  display: flex;
flex-wrap: wrap;
 justify-content: space-between;
     
   
}



.page-logogllacy {
    width: 160px;
     height: 65px;


}
.menu {

position: relative;
list-style: none;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: none;
 
  
}
.menu a {
    text-decoration: rgba(255, 255,255, 0.2) underline;
    padding: 10px;
}
.menu-information {
    
    display: inline-block;
    
    margin-top: 20px;
    vertical-align: middle;
}
.menu .menu-list a {
     display: block;
    color: #323232;
padding: 10px 20px;
   
}

.menu .menu-list {
   display: none;
    position: absolute;
    
    padding: 0;
    left: -10px;
   
    margin-top: 15px;
    z-index: 20;
    background-color: #f8f7f4;
   border-radius: 10px;
}
.menu-list li {
     width: 143px;
     
    margin: 0;
    padding: 0;
}


.menu .menu-list a:hover,
.menu .menu-list a:active,
.menu .menu-list a:focus {
    background-color: #fbded8;
    border: none;
    border-radius: 0;
}
.menu > li:hover  .menu-list {
    display: block;
}
.menu-catalog > a {
    background-color: #d07058;
    border-radius: 20px;
    text-decoration: none;
}
.page-inf {
    margin: 0;
}
.menu,
.site-navigation 
 {
     margin: 0;
  padding: 0;
  
    list-style: none;
}
.site-navigation {
    display: inline-block;
    text-transform: none;
    font-size: 14px;
    line-height: 16px;
   margin-top: -20px;
    font-weight: normal;
 
  
}

.site-navigation .site-search {
    position: relative;
    
    
    font-size: 0;
}

.site-search::before {
    content: "";
position: absolute;
top: -4px;
left: 10px;

width: 21px;
height: 19px;
background-image: url("../img/svg-gllacy/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.site-navigation .site-enter {
    position: relative;
     
}
.site-navigation .site-basket {
    position: relative;
   
}
.site-enter::before {
content: "";
position: absolute;
top: -2px;
left: 20px;

width: 21px;
height: 19px;
background-image: url("../img/svg-gllacy/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  fill: #ffffff;
  
}
.site-basket::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 20px;
    width: 21px;
height: 20px;
background-image: url("../img/svg-gllacy/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hidden a {
    text-decoration: none;
}
.hidden {
    font-size: 14px;
    line-height: 16px;
}
.menu-list li:nth-child(2),
.menu-list li:nth-child(3),
.menu-list li:nth-child(4),
.menu-list li:nth-child(5) {
    font-weight: normal;
}

.menu-list {
    list-style: none;
    z-index: 15;
}


.site-navigation .site-search a {
   
    padding-top: 23px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 25px;
     
     margin-right: 10px;
     border: none;
     border-radius: 50px;
    
   
    color: #ffffff;
    background-color: rgba(255, 255,255, 0.2);
   
}.site-navigation .site-enter a {
   
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 20px;
     margin-top: 20px;
     margin-right: 10px;
     border: none;
     border-radius: 50px;
     
    
     color: #ffffff;
     background-color: rgba(255, 255,255, 0.2);
}
.site-navigation .site-basket a {
   
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 30px;
     margin-top: 20px;
     border: none;
     border-radius: 50px;
     
    
     color: #ffffff;
     background-color: rgba(255, 255,255, 0.2);
}
.site-navigation {
    position: relative;
}
.what-search {
    display: none;
    position: absolute;
    padding: 20px 15px;
    left: -300px;
    top: 25px;
    background-color: #f8f7f4;
    border-radius: 10px;
    z-index: 15;
}
.what-search input {
    padding: 10px;
    width: 310px;
    border: 1px solid #b2b2b2;
}
.page-inf > li:hover .what-search {
    display: block;
}
.menu a {
    color:  #ffffff;
}



.site-search:hover::before,
.site-search:focus::before,
.site-search:active::before {
background-image: url("../img/svg-gllacy/loupe-black.svg");
}
.site-enter:hover::before,
.site-enter:focus::before,
.site-enter:active::before {
    background-image: url("../img/svg-gllacy/entrance-black.svg");
}
.site-basket:hover::before,
.site-basket:focus::before,
.site-basket:active:before {
    background-image: url("../img/svg-gllacy/basket-black.svg");
}
.menu  a:hover,
.menu a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
    color: #353535;
    background-color: #f8f7f4;
    border-radius: 20px;

}

.site-password a {
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}
.site-password a:hover,
.site-password a:focus {
    background-color: #aba1a1;
}
.enter-form {
    display: none;
    position: absolute;
    width: 240px;
    padding: 25px 20px;
    background-color: #f8f7f4;
    border-radius: 10px;
    left: -180px;
    top: 30px;
    z-index: 20;
}
.enter-form input {
    margin-bottom: 20px;
    width: 220px;
    padding: 10px;
}
.form-flex-button {
    display: flex;
    justify-content: space-between;
    
}
.enter-form .site-button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    
}
.site-password {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: underline;
    cursor: pointer;
}
.page-inf > li:hover .enter-form
 {
    display: block;
}
.data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
}
.page-time {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;;
    text-transform: none;
}
.page-number {
    font-size: 22px;
    line-height: 24px;
    margin: 0;
}



.items {
    display: flex;
    justify-content: space-between;
   text-transform: none;
   margin-bottom: 38px;
   margin-top: 38px;
}


.background-pink {
    position: relative;
    width: 380px;
    height: 180px;
    padding: 20px;
    color:#ffffff;
    background-color: #8e1a2c;
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    border-radius:15px;
   
    
}


.background-pink h2,
.background-brown h2 {
    margin: 0;
    padding: 0;
  font-size: 35px;
  line-height: 47px;
}
.background-pink p,
.background-brown p {
    font-size: 18px;
  line-height: 22px;
}


.background-brown {
    position: relative;
    width: 380px;
    height: 180px;
   padding: 20px;
    color:#ffffff;
    background-color: #5e3421;
    background-image: url("../img/backgroundshoko.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    border-radius:15px;
   
}

 .background-pink .site-button {
     display: block;
     position: absolute;
     left: 198px;
     width: 147px;
     

     
 }
 .background-brown .site-button {
     display: block;
     position: absolute;
     left: 198px;
     width: 147px;
 }
.slider a:hover,
.slider a:focus {
    background-color: #f0e7ce;
}

.ice {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
   
}
.ice-cream {
    width: 200px;
}
.ice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.kind-of-icecream a:hover,
.kind-of-icecream a:focus {
    background-color: #68746d;
}
.ice a {
    font-size: 16px;
    line-height: 22px;
    color: #f8f7f4;
    text-decoration: rgba(255, 255,255, 0.2) underline;
}
.ice a:hover,
.ice a:focus {
    background-color: #68746d;
}
.ice-radius {
   
 border-radius: 50%;
}
.ice-price1 {
    position: absolute;
    top: 130px;
    left: -5px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
  
}
.ice-price2 {
    position: absolute;
    top: 130px;
    left: 220px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
  
}
.ice-price3 {
    position: absolute;
    top: 130px;
    left: 440px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-price4 {
    position: absolute;
    top: 130px;
    left: 660px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-price5 {
    position: absolute;
    top: 480px;
    left: -5px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-price6 {
    position: absolute;
    top: 480px;
    left: 220px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-price7 {
    position: absolute;
    top: 480px;
    left: 440px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-price8 {
    position: absolute;
    top: 480px;
    left: 660px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-price9 {
    position: absolute;
    top: 800px;
    left: -5px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-price10 {
    position: absolute;
    top: 800px;
    left: 220px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-price11 {
    position: absolute;
    top: 800px;
    left: 440px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-price12 {
    position: absolute;
    top: 800px;
    left: 660px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-kg1 {
    position: absolute;
    top: 150px;
    left: 115px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg2 {
    position: absolute;
    top: 150px;
    left: 335px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg3 {
    position: absolute;
    top: 150px;
    left: 560px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg4 {
    position: absolute;
    top: 150px;
    left: 780px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg5 {
    position: absolute;
    top: 500px;
    left: 115px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg6 {
    position: absolute;
    top: 500px;
    left: 335px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg7 {
    position: absolute;
    top: 500px;
    left: 560px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg8 {
    position: absolute;
    top: 500px;
    left: 780px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg9 {
    position: absolute;
    top: 820px;
    left: 115px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg10 {
    position: absolute;
    top: 820px;
    left: 335px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg11 {
    position: absolute;
    top: 820px;
    left: 560px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg12 {
    position: absolute;
    top: 820px;
    left: 780px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.hit1 {
    position: absolute;
    top: 5px;
    left: -10px;
}
.hit2 {
    position: absolute;
    top: 5px;
    left: 230px;
}
.hit3 {
    position: absolute;
    top: 5px;
    left: 440px;
}
.hit4 {
    position: absolute;
    top: 5px;
    left: 690px;
}

.ice a {
    display: block;
    text-align: center;
    text-transform: none;
    margin-bottom: 40px;
}




.img-1 img {
    position: absolute;
    left: 20px;
    top: 106px;
}
.img-2 img {
    position: absolute;
    left: 450px;
    top: 106px;
}
.img-3 img {
    position: absolute;
    left: 20px;
    top: 256px;
}
.img-4 img {
    position: absolute;
    left: 450px;
    top: 256px;
}
.information-prouduct {
    position: relative;
    
    color: #323232;
    background-color: #f0e7ce;
    background-image: url("../img/layer.jpg");
    background-repeat: repeat;
    background-position: 0 0;
   padding: 40px 20px;
   padding-bottom: 20px;
    border-radius: 20px;
    margin: 40px 10px;
    font-weight: normal;
    text-transform: none;
}
.information-prouduct h3 {
    font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.information-description li {
    font-size: 16px;
  line-height: 22px;
  list-style: none;
}
.information-description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   padding: 0;
    margin: 0;
}
.information-items {
    width: 345px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 60px;
}


.recipe-subscription {
    display: flex;
    justify-content: space-between;
   
}

.recipe {
    padding: 20px;;
    width: 380px;
    height: 180px;
    color: #353535;
    background-color: #ffffff;
    background-image: url("../img/background.jpg");
    
    background-repeat: no-repeat;
    background-position: 0 0;
   margin-bottom: 40px;
    border-radius:20px;
    text-transform: none;
}
.recipe h2 {
    font-size: 16px;
  line-height: 22px;
}
.recipe a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;

}
.recipe a:hover,
.recipe a:focus {
    background-color: #68746d;
}

.subscription1 {
    padding: 20px;
    width: 380px;
    height: 180px;
    color: #5a5a5a;
    background-color: #f8f7f4;
    background: url("../img/svg-gllacy/bg-post.svg") no-repeat;
      background-repeat: no-repeat;
    background-position: 0 0;
     margin: 0;
    
   
    text-transform: none;
    font-weight: normal;
    border-radius: 20px;
}
.phone {
    width: 390px;
    height: 170px;
    background-color: #f8f7f4;
    background-position: 0 10px;
     margin: 0;
  
}
.subscription1 p {
    font-size: 16px;
  line-height: 22px;
}
.subscription input {
    box-sizing: border-box;
  width: 228px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 65px;
  padding-bottom: 7px;
}
.map {
    position: relative;
    margin-bottom: 25px;
}

.adress {
    position: absolute;
    bottom: 60px;
    left: 577px;
     color: #323232;
    background-color: #fefefe;
    border-radius:10px;
    width: 278px;
    text-transform: none;
   padding: 25px;
  
}
.adress h2,
.adress-time  {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
   padding: 0;
    margin: 0;
}
.adress h2 {
    margin-bottom: -15px;
}
.bold {
    font-size: 18px;
    line-height: 24px; 

}
.adress-time {
    margin-top: -15px;
    margin-bottom: 20px;
}
.adress-label {
    color: #323232;
    font-size: 24px;
    line-height: 28px;
    text-transform: none;
  margin-bottom: 20px;
}

.adress .site-button {
    display: inline-block;
    width: 278px;
    text-align: center;
}
.adress-form label {
    font-size: 24px;
  line-height: 28px;
}
.adress-form {
    position: fixed;
    width: 420px;
    padding: 25px;
    padding-top: 0;
    top: 338px;
    left: 800px;
    background-color: #f8f7f4;
    border-radius: 20px;
    display: none;
}

  .adress-form input {
      box-sizing: border-box;
      width: 264px;
      padding: 10px;
      margin-bottom: 25px;
  }
  .adress-form textarea {
      width: 405px;
      padding: 10px;
      height: 120px;
      margin-bottom: 20px;
  }
  .adress button:hover .adress-form {
      display: block;
  }
  .button-flex {
       display: flex;
       flex-direction: column;
     align-items: flex-end;
  }
  .adress-form .site-button {
    
      width: 124px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 10px;
      padding-top: 10px;
      
  }
  .product {
      position: relative;
  }
  .product-1 {
      position: relative;
  }
  .modal-close-1,
  .modal-close-2,
  .modal-close {
    position: absolute;

  
    font-size: 0;
  
    background-color: transparent;
    border: 0;
  
    cursor: pointer;
  }
 
.modal-close-2::before,
.modal-close-2::after {
  content: "";

  position: absolute;
top: 95px;
left: -60px;
  width: 16px;
  height: 2px;

  background-color: #818181;
}
.modal-close-2::before {
    transform: rotate(45deg);
  }
  
.modal-close-2::after {
    transform: rotate(-45deg);
  }
  
.modal-close-1::before,
.modal-close-1::after {
  content: "";

  position: absolute;
top: 27px;
left: -60px;
  width: 16px;
  height: 2px;

  background-color: #818181;
}
.modal-close-1::before {
    transform: rotate(45deg);
  }
  
  .modal-close-1::after {
    transform: rotate(-45deg);
  }
.footer {
    display: flex;
    justify-content: space-between;
     color: #ffffff;
    background-color: #849d8f;
    justify-content: space-between;
    
}
.footer-social {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 40px;
    width:180px;
}
.footer-social a {
    display: inline-block;
    width:32px;
     height:32px;
   border: 3px solid  rgba(255, 255,255, 0.2) ;
   border-radius: 50%; 
   
    
}
.footer-social img {
    border: 10px solid rgba(90 90 90 0.5);
    border-radius: 50%;
}
.information-magazin {
    display: flex;
    flex-wrap: wrap;
    width:340px;
    margin: 0;
}
.information-magazin li {
    display: inline-block;
    margin-right: 30px;
}
.information-magazin a {
    text-decoration: rgba(255, 255,255, 0.2) underline;
}
.information {
    position: relative;
}
.information img {
    position: absolute;
    left: 15px;
    
}
.information-part {
    margin-bottom: 5px;
}

.footer a:hover,
.footer a:focus {
    background-color: #68746d;
}

.information ul {
    font-size: 13px;
  line-height: 18px;
}
.logohtml img {
    margin-top: -10px;
}
.logohtml p {
    margin-top: -5px;
    font-size: 12px;
  line-height: 18px;
}
.site-navigation1 form,
.site-navigation2 form {
 color: #323232;
    background-color: #fefefe;
    border-radius:10px;
    width: 312px;
}
.site-password {
    font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.site-navigation2 a {
        font-size: 13px;
  line-height: 16px;
}




.footer-social,
.information-magazin {
    list-style: none;
    text-transform: none;
    font-weight: normal;
}
.footer-social a {
    font-size: 0;
}
.information-magazin a {
    color: #f8f7f4;
}
.information-magazin a:hover,
.information-magazin a:focus {
    background-color: #68746d;
}
.logohtml {
    text-transform: none;
}
.logohtml a {
    color: #ffffff;
    text-decoration: rgba(255, 255,255, 0.2) underline;
}
.logohtml img {
    widows: 108px;
    height: 48px;
}
input {
    font: inherit;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    color: #818181;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}
textarea {
    font: inherit;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    color: #818181;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

.site-wrapper-1 {
    min-width: 940px;
    background-color: #849d8f;
   
    /* Для демонстрации */
    min-height: 100vh;
  }
.basket-order-1 {
display: none;
}
.basket-order {
    
 position: absolute;
 top: 30px;
 left: -438px;
 width: 480px;
 
 padding: 10px;
 padding-left: 80px;
 background-color: #f8f7f4;
 border-radius: 10px;
 color: #231f20;
}
.site-basket-1::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 20px;
    width: 21px;
height: 20px;
background-image: url("../img/svg-gllacy/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.page-inf-1 {
    padding: 0;
}
.table-size {
    width: 400px;
}
.table-size-1 {
    width: 220px;
}
.table-size-2 {
    width: 100px;
}
td {
    
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.ice-1 {
    position: absolute;
    left: 45px;
    top: 25px;
}
.ice-3 {
    position: absolute;
    left: 45px;
    top: 90px;
}
.modal-close {
    position: absolute;
  top: 23px;
  right: 10px;
    width: 22px;
    height: 22px;
  
    font-size: 0;
  
    background-color: transparent;
    border: 0;
  
    cursor: pointer;
  }
.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
top: 78px;
left: -1105px;
  width: 15px;
  height: 2px;

  background-color: #5a5a5a;
}
.modal-close::before {
    transform: rotate(45deg);
  }
  
.modal-close::after {
    transform: rotate(-45deg);
  }

.basket-order::before {
    content: "";
    position: absolute;
    top: 150px;
    left:20px;
    width: 530px;
    height: 1px;
    background-color: #cacac7;
}
.basket-price {
    font-weight: bold;
}
.basket-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.price-kg {
    color: #cacac7;
}
li:hover .basket-order-1 {
    display: block;
}
.conteiner {
   
    text-transform: none;
}
.container-block {
    display: block;
    width: 240px;
}
.conteiner-menu  {
    display: flex;
    
    justify-content: space-between;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    list-style: none;
    text-transform: none;
    font-weight: normal;
}
.conteiner-menu a {
    color: #ffffff;
}
.caption-1 {
    margin: 0;
}
.characters {
    display: block;
    width: 900px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;

}
.characters-sorting {
    padding: 0;
     list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sweet {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.characters-sorting .site-button-1 {
    display: inline-block;
    font: inherit;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding: 5px 24px;
    margin-top: 25px;
background-color: rgba(255, 255,255, 0.2);
cursor: pointer;
}
.sorting > li {
    display: inline-block;
    font: inherit;
    width: 160px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 7px 24px;
background-color: rgba(255, 255,255, 0.2);
cursor: pointer;

}
.range-price {
    display: inline-block;
    font: inherit;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 5px 24px;
background-color: rgba(255, 255,255, 0.2);
cursor: pointer;
}
.fat-content li {
     display: inline-block;
}
.fat-content  {
  
    font: inherit;
    list-style: none;
    text-align: center;
    width: 380px;
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
   margin-top: 10px;
   margin-bottom: 10px;
    border-radius: 50px;
    padding: 7px 24px;
background-color: rgba(255, 255,255, 0.2);
cursor: pointer;
}
.sweet li {
    display: inline-block;
   
    padding-left: 50px;
}
.sweet-jam {
    padding-right: 20px;
}
.sweet {
    padding: 7px 0;
    font: inherit;
    list-style: none;
    text-align: center;
   
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
   
    border-radius: 50px;
    
background-color: rgba(255, 255,255, 0.2);
cursor: pointer;

}
.sorting {
    position: relative;
    list-style: none;
    padding: 0;
    
}
.sorting li {
    padding-right: 60px;
}
.sorting::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 180px;
    
    width: 30px;
    height: 30px;
    background-image: url("../img/svg-gllacy/icon-down-dir.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
}
.sorting-choice {
    display: none;
    position: absolute;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    
    color: #000000;
    background-color: #ffffff;
    left: 1px;
    top: 50px;
    width: 240px;
z-index: 20;
text-align: left;
padding: 0;
}
.sorting > li:hover,
.sorting > li:focus,
.sorting > li:active {
    color: #000000;
    background-color: #ffffff;
}
.sorting-choice li {
    padding-bottom: 5px;
    padding-left: 20px;
    
}
.sorting > li:hover .sorting-choice {
    display: block;
}
.sorting-choice li:nth-child(1) {
    padding-top: 10px;
}
.sorting-choice li:hover,
.sorting-choice li:focus {
    color: #ffffff;
    background-color: #1e90ff;
}
.sweet-shoko,
.sweet-fruit,
.sweet-jam,
.sweet-sugar,
.sweet-syrup {
    position: relative;
}
.sweet-shoko::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 20px;
    
    width: 30px;
    height: 30px;
    background-image: url("../img/svg-gllacy/checkbox-on.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
}
.sweet-sugar::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 20px;
    
    width: 26px;
    height: 25px;
    background-image: url("../img/svg-gllacy/checkbox-on.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
}
.sweet-fruit::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 20px;
    
    width: 24px;
    height: 24px;
    background-image: url("../img/svg-gllacy/checkbox-off.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
}
.sweet-syrup::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 20px;
    
    width: 24px;
    height: 24px;
    background-image: url("../img/svg-gllacy/checkbox-off.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
}
.sweet-jam::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 20px;
    
    width: 24px;
    height: 24px;
    background-image: url("../img/svg-gllacy/checkbox-off.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
}
.sleders {
    display: flex;
    justify-content: flex-end;
}

.paginator {
    width: 200px;
    margin: 0;
    padding: 10px;
    white-space: nowrap;
    margin-bottom: 30px;
   
}

.paginator a {
    display: inline-block;
    min-width: 20px;
    
    padding: 0 ;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    text-decoration: none;
    color: white;
   
}

.paginator .prev {
    margin-right:0;
    text-indent: -3000px;
    background-image: url("../img/svg-gllacy/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 5px 3px;
     transform: rotate(180deg);
}

.paginator .next {
    margin-left:0;
    text-indent: -8000px;
    background-image: url("../img/svg-gllacy/icon-right-small.svg");
    background-position: 7px 3px;
    background-repeat: no-repeat;
   
}
.paginator .current {
    color: #000000;
    background-color: #ffffff;
    border-radius: 20px;

}

.ice-cream {
  
    padding: 10px;
}
.ice-hover-1::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 230px;
    height: 362px;
    border-radius: 10px;
    background-color: rgba(255, 255,255, 0.2);
   
}
.ice-hover-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 215px;
    width: 230px;
    height: 362px;
    border-radius: 10px;
    background-color: rgba(255, 255,255, 0.2);
   
}
.ice-hover-3::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 670px;
    width: 230px;
    height: 362px;
    border-radius: 10px;
    background-color: rgba(255, 255,255, 0.2);
   
}
.ice-hover-4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 450px;
    width: 230px;
    height: 362px;
    border-radius: 10px;
    background-color: rgba(255, 255,255, 0.2);
   
}
.ice-hover-5::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 100px;
    width: 230px;
    height: 362px;
    border-radius: 10px;
    background-color: rgba(255, 255,255, 0.2);
   
}
.ice-hover-6::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 100px;
    width: 230px;
    height: 362px;
    border-radius: 10px;
    background-color: rgba(255, 255,255, 0.2);
   
}
.ice-hover-7::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 100px;
    width: 230px;
    height: 362px;
    border-radius: 10px;
    background-color: rgba(255, 255,255, 0.2);
   
}
.ice-hover-8::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 100px;
    width: 230px;
    height: 362px;
    border-radius: 10px;
    background-color: rgba(255, 255,255, 0.2);
   
}
.ice-hover-9::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 100px;
    width: 230px;
    height: 362px;
    border-radius: 10px;
    background-color: rgba(255, 255,255, 0.2);
   
}
.ice-hover-10::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 100px;
    width: 230px;
    height: 362px;
    border-radius: 10px;
    background-color: rgba(255, 255,255, 0.2);
   
}
.ice-hover-11::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 100px;
    width: 230px;
    height: 362px;
    border-radius: 10px;
    background-color: rgba(255, 255,255, 0.2);
   
}
.ice-hover-12::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 100px;
    width: 230px;
    height: 362px;
    border-radius: 10px;
    background-color: rgba(255, 255,255, 0.2);
   
}
.ice .site-button {
    
    display: none;
    font-size: 18px;
    line-height: 24px;
    width: 196px;
    padding: 10px;
    z-index: 30;
    
}
.ice-cream:hover .site-button {
    
    display: block;
   
}