body {
  margin: 0;
  padding: 0 20px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #849d8f;
 
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.container {
    margin: 0 auto;
    width: 860px;

}
.page-header {
    margin-bottom: 10px;
    min-height: 74px;
    padding-top: 10px;
   
}

.page-menu {
  display: flex;
flex-wrap: wrap;
 justify-content: space-between;
     
   
}



.page-logogllacy {
    width: 160px;
     height: 65px;


}
.menu {

position: relative;
list-style: none;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: none;
 
  
}
.menu a {
    text-decoration: underline;
    padding: 10px;
}
.menu-information {
    
    display: inline-block;
    
    margin-top: 20px;
    vertical-align: middle;
}
.menu .menu-list a {
     display: block;
    color: #323232;
padding: 10px 20px;
   
}

.menu .menu-list {
   display: none;
    position: absolute;
    
    padding: 0;
    left: -10px;
   
    margin-top: 15px;
    z-index: 20;
    background-color: #f8f7f4;
   border-radius: 10px;
}
.menu-list li {
     width: 143px;
     
    margin: 0;
    padding: 0;
}


.menu .menu-list a:hover,
.menu .menu-list a:active,
.menu .menu-list a:focus {
    background-color: #fbded8;
    border: none;
    border-radius: 0;
}
.menu > li:hover  .menu-list {
    display: block;
}
.page-inf {
    margin: 0;
}
.menu,
.site-navigation 
 {
     margin: 0;
  padding: 0;
  
    list-style: none;
}
.site-navigation {
    display: inline-block;
    text-transform: none;
    font-size: 14px;
    line-height: 16px;
   margin-top: -20px;
    font-weight: normal;
 
  
}

.site-navigation .site-search {
    position: relative;
    
    
    font-size: 0;
}

.site-search::before {
    content: "";
position: absolute;
top: -4px;
left: 10px;

width: 21px;
height: 19px;
background-image: url("../svg-gllacy/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.site-navigation .site-enter {
    position: relative;
     
}
.site-navigation .site-basket {
    position: relative;
   
}
.site-enter::before {
content: "";
position: absolute;
top: -2px;
left: 20px;

width: 21px;
height: 19px;
background-image: url("../svg-gllacy/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  fill: #ffffff;
  
}
.site-basket::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 20px;
    width: 21px;
height: 20px;
background-image: url("../svg-gllacy/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hidden a {
    text-decoration: none;
}
.hidden {
    font-size: 14px;
    line-height: 16px;
}
.menu-list li:nth-child(2),
.menu-list li:nth-child(3),
.menu-list li:nth-child(4),
.menu-list li:nth-child(5) {
    font-weight: normal;
}

.menu-list {
    list-style: none;
}


.site-navigation .site-search a {
   
    padding-top: 23px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 25px;
     
     margin-right: 10px;
     border: none;
     border-radius: 50px;
    
   
    color: #ffffff;
    background-color: rgba(255, 255,255, 0.2);
   
}.site-navigation .site-enter a {
   
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 20px;
     margin-top: 20px;
     margin-right: 10px;
     border: none;
     border-radius: 50px;
     
    
     color: #ffffff;
     background-color: rgba(255, 255,255, 0.2);
}
.site-navigation .site-basket a {
   
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 30px;
     margin-top: 20px;
     border: none;
     border-radius: 50px;
     
    
     color: #ffffff;
     background-color: rgba(255, 255,255, 0.2);
}
.site-navigation {
    position: relative;
}
.what-search {
    display: none;
    position: absolute;
    padding: 20px 15px;
    left: -300px;
    top: 25px;
    background-color: #f8f7f4;
    border-radius: 10px;
}
.what-search input {
    padding: 10px;
    width: 310px;
    border: 1px solid #b2b2b2;
}
.page-inf > li:hover .what-search {
    display: block;
}
.menu a {
    color:  #ffffff;
}



.site-search:hover::before,
.site-search:focus::before,
.site-search:active::before {
fill: #323232;
}
.site-enter:hover::before,
.site-enter:focus::before,
.site-enter:active::before {
    fill: #323232;
}
.site-basket:hover::before,
.site-basket:focus::before,
.site-basket:active:before {
    fill: #323232;
}
.menu  a:hover,
.menu a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
    color: #353535;
    background-color: #f8f7f4;
    border-radius: 20px;

}

.site-password a {
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}
.site-password a:hover,
.site-password a:focus {
    background-color: #aba1a1;
}
.data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
}
.page-time {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;;
    text-transform: none;
}
.page-number {
    font-size: 22px;
    line-height: 24px;
    margin: 0;
}


.slider {
    position: relative;
    padding-top: 260px;
    text-align: center;
  color: #ffffff;
}

.slider-switch {
    list-style: none;
}
.slider-title {
   
    font-size: 60px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 30px;
   
}
.slider-img {
    position: absolute;
   z-index: -1;
    top: -83px;
    width: 372px;
    height: 584px;
    
}

.slider-decoration a {
    display: inline;
   
    font-size: 32px;
  line-height: 44px;
  text-transform: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
background-image: linear-gradient(#f26843,#e84e37);
padding:10px 38px;
border-radius: 50px;

text-align: center;
color:#ffffff;
cursor: pointer;
}
.site-button {
    display: inline-block;
font: inherit;
text-align: center;
font-size: 18px;
line-height: 24px;
color: #ffffff;
border:none;
border-radius: 50px;
padding: 10px 24px;
box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
background-image: linear-gradient(#f26843,#e84e37);
cursor: pointer;
}
.site-button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  }
  
  .site-button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  }
.slider-decoration a:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  }
  
  .slider-decoration a:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  }
.items {
    display: flex;
    justify-content: space-between;
   text-transform: none;
   margin-bottom: 38px;
   margin-top: 38px;
}


.background-pink {
    position: relative;
    width: 380px;
    height: 180px;
    padding: 20px;
    color:#ffffff;
    background-color: #8e1a2c;
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    border-radius:15px;
   
    
}


.background-pink h2,
.background-brown h2 {
    margin: 0;
    padding: 0;
  font-size: 35px;
  line-height: 47px;
}
.background-pink p,
.background-brown p {
    font-size: 18px;
  line-height: 22px;
}


.background-brown {
    position: relative;
    width: 380px;
    height: 180px;
   padding: 20px;
    color:#ffffff;
    background-color: #5e3421;
    background-image: url("../img/backgroundshoko.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    border-radius:15px;
   
}

 .background-pink .site-button {
     display: block;
     position: absolute;
     left: 198px;
     width: 147px;
     

     
 }
 .background-brown .site-button {
     display: block;
     position: absolute;
     left: 198px;
     width: 147px;
 }
.slider a:hover,
.slider a:focus {
    background-color: #f0e7ce;
}

.ice {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
   
}
.ice-cream {
    width: 200px;
}
.ice {
    display: flex;
    justify-content: space-between;
   
}
.kind-of-icecream a:hover,
.kind-of-icecream a:focus {
    background-color: #68746d;
}
.ice a {
    font-size: 16px;
    line-height: 22px;
    color: #f8f7f4;
    text-decoration: underline;
}
.ice a:hover,
.ice a:focus {
    background-color: #68746d;
}
.ice-radius {
   
 border-radius: 50%;
}
.ice-price1 {
    position: absolute;
    top: 130px;
    left: -5px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
  
}
.ice-price2 {
    position: absolute;
    top: 130px;
    left: 220px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
  
}
.ice-price3 {
    position: absolute;
    top: 130px;
    left: 440px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-price4 {
    position: absolute;
    top: 130px;
    left: 660px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-kg1 {
    position: absolute;
    top: 150px;
    left: 115px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg2 {
    position: absolute;
    top: 150px;
    left: 335px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg3 {
    position: absolute;
    top: 150px;
    left: 560px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg4 {
    position: absolute;
    top: 150px;
    left: 780px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.hit1 {
    position: absolute;
    top: 5px;
    left: -10px;
}
.hit2 {
    position: absolute;
    top: 5px;
    left: 230px;
}
.hit3 {
    position: absolute;
    top: 5px;
    left: 440px;
}
.hit4 {
    position: absolute;
    top: 5px;
    left: 650px;
}
.ice a {
    display: block;
    text-align: center;
    text-transform: none;
}
.block1 img {
    position: absolute;
    left: 20px;
    top:104px;
}
.information-img1 img {
    position: absolute;
    left: 20px;
    top: 226px;
}
.block2 img {
    position: absolute;
    left: 440px;
    top:104px;
}
.information-img2 img  {
    position: absolute;
    left: 440px;
    top: 226px;
}
.information-prouduct {
    position: relative;
    
    color: #323232;
    background-color: #f0e7ce;
    background-image: url("../img/layer.jpg");
    background-repeat: repeat;
    background-position: 0 0;
   padding: 40px 20px;
   padding-bottom: 20px;
    border-radius: 20px;
    margin: 40px 10px;
    font-weight: normal;
    text-transform: none;
}

.information-prouduct h3 {
    font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.information-description li {
    font-size: 16px;
  line-height: 22px;
  list-style: none;
}
.information-description {
    display: flex;
   
    margin: 0;
}
.information-items {
    margin-bottom: 20px;
    margin-top: 20px;
}
.block1  {
   margin-right: 100px;
   margin-left: 20px;
}
.block2 {
    margin-right: 40px;
}


.recipe-subscription {
    display: flex;
    justify-content: space-between;
   
}

.recipe {
    padding: 20px;;
    width: 380px;
    height: 180px;
    color: #353535;
    background-color: #ffffff;
    background-image:
   
     url("../img/background.jpg");
    
    background-repeat: no-repeat;
    background-position: 0 0;
   margin-bottom: 40px;
    border-radius:20px;
    text-transform: none;
}
.recipe h2 {
    font-size: 16px;
  line-height: 22px;
}
.recipe a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;

}
.recipe a:hover,
.recipe a:focus {
    background-color: #68746d;
}

.subscription1 {
    padding: 20px;
    width: 380px;
    height: 180px;
    color: #5a5a5a;
    background-color: #f8f7f4;
    background: url("../svg-gllacy/bg-post.svg") no-repeat;
      background-repeat: no-repeat;
    background-position: 0 0;
     margin: 0;
    
   
    text-transform: none;
    font-weight: normal;
    border-radius: 20px;
}
.subscription1 p {
    font-size: 16px;
  line-height: 22px;
}
.subscription input {
    box-sizing: border-box;
  width: 228px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 65px;
  padding-bottom: 7px;
}
.map {
    position: relative;
    margin-bottom: 25px;
}

.adress {
    position: absolute;
    bottom: 60px;
    left: 577px;
     color: #323232;
    background-color: #fefefe;
    border-radius:10px;
    width: 278px;
    text-transform: none;
   padding: 25px;
  
}
.adress h2,
.adress-time  {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
   padding: 0;
    margin: 0;
}
.adress h2 {
    margin-bottom: -15px;
}
.bold {
    font-size: 18px;
    line-height: 24px; 

}
.adress-time {
    margin-top: -15px;
    margin-bottom: 20px;
}
.adress-label {
    color: #323232;
    font-size: 24px;
    line-height: 28px;
    text-transform: none;
  margin-bottom: 20px;
}

.adress .site-button {
    display: inline-block;
    width: 278px;
    text-align: center;
}
.adress-form label {
    font-size: 24px;
  line-height: 28px;
}
.adress-form {
    position: fixed;
    width: 420px;
    padding: 25px;
    padding-top: 0;
    top: 338px;
    left: 800px;
    background-color: #f8f7f4;
    border-radius: 20px;
    display: none;
}
.modal-close {
    position: absolute;
  top: 23px;
  right: 10px;
    width: 22px;
    height: 22px;
  
    font-size: 0;
  
    background-color: transparent;
    border: 0;
  
    cursor: pointer;
  }
  .adress-form input {
      box-sizing: border-box;
      width: 264px;
      padding: 10px;
      margin-bottom: 25px;
  }
  .adress-form textarea {
      width: 405px;
      padding: 10px;
      height: 120px;
      margin-bottom: 20px;
  }
  .button-flex {
       display: flex;
       flex-direction: column;
     align-items: flex-end;
  }
  .adress-form .site-button {
    
      width: 124px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 10px;
      padding-top: 10px;
      
  }
  .modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
top: 10px;
left: 2px;
  width: 19px;
  height: 3px;

  background-color: #231f20;
}
.modal-close::before {
    transform: rotate(45deg);
  }
  
  .modal-close::after {
    transform: rotate(-45deg);
  }
.footer {
    
    display: flex;
     color: #ffffff;
    background-color: #849d8f;
    justify-content: space-between;
    
}
.footer-social {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 40px;
}
.footer-social li {
    display: inline-block;
   
   
    
}
.footer-social img {
    border: 10px solid rgba(90 90 90 0.5);
    border-radius: 50%;
}

.information-magazin li {
    display: inline-block;
    margin-right: 30px;
   
    text-decoration: underline;
    
}
.information img {
    position: absolute;
    left: 450px;
    
}
.information-part {
    margin-bottom: 5px;
}
.information-magazin {
    margin: 0;
}
.footer a:hover,
.footer a:focus {
    background-color: #68746d;
}

.information ul {
    font-size: 13px;
  line-height: 18px;
}
.logohtml img {
    margin-top: -10px;
}
.logohtml p {
    margin-top: -5px;
    font-size: 12px;
  line-height: 18px;
}
.site-navigation1 form,
.site-navigation2 form {
 color: #323232;
    background-color: #fefefe;
    border-radius:10px;
    width: 312px;
}
.site-password {
    font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.site-navigation2 a {
        font-size: 13px;
  line-height: 16px;
}




.footer-social,
.information-magazin {
    list-style: none;
    text-transform: none;
    font-weight: normal;
}
.footer-social a {
    display: none;
}
.information-magazin a {
    color: #f8f7f4;
}
.information-magazin a:hover,
.information-magazin a:focus {
    background-color: #68746d;
}
.logohtml img {
    widows: 108px;
    height: 48px;
}
input {
    font: inherit;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    color: #818181;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}
textarea {
    font: inherit;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    color: #818181;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}
