body {
  margin: 0;
  padding: 0 20px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #849d8f;
 
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.container {
    margin: 0 auto;
    width: 860px;

}
.page-header {
    margin-bottom: 10px;
    min-height: 74px;
   
}

.page-menu {
  display: flex;
flex-wrap: wrap;
 justify-content: space-between;
     
   
}



.page-logogllacy {
    width: 160px;
     height: 65px;


}
.menu {
display: flex;
flex-wrap: wrap;
list-style: none;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: none;
 
  
}
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    text-transform: none;
    font-size: 14px;
    line-height: 16px;
    align-items: flex-start;
    font-weight: normal;
 
  
}
.menu,
.site-navigation 
 {
     margin: 0;
  padding: 0;
  
    list-style: none;
}
.menu {
    margin-left: -55px;
}
.menu a {
    display: block;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;


    vertical-align: middle;
} 
.site-navigation .site-search {
    position: relative;
    padding-left: 20px;
    
    font-size: 0;
}

.site-search::before {
    content: "";
position: absolute;
top: 5px;
left: 5px;

width: 21px;
height: 19px;
background-image: url("../svg-gllacy/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.site-navigation .site-enter {
    position: relative;
     
}
.site-navigation .site-basket {
    position: relative;
   
}
.site-enter::before {
content: "";
position: absolute;
top: -2px;
left: 20px;

width: 21px;
height: 19px;
background-image: url("../svg-gllacy/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}
.site-basket::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 20px;
    width: 21px;
height: 20px;
background-image: url("../svg-gllacy/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.menu a {
    text-decoration: underline;
}
.hidden a {
    text-decoration: none;
}
.hidden {
    font-size: 14px;
    line-height: 16px;
}
.menu-list li:nth-child(2),
.menu-list li:nth-child(3),
.menu-list li:nth-child(4),
.menu-list li:nth-child(5) {
    font-weight: normal;
}

.menu-list {
    list-style: none;
}


.site-navigation .site-search a {
   display: inline-block;
    padding: 15px;
    margin-top: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 70px;
    
   
    color: #ffffff;
    background-color: rgba(255, 255,255, 0.2);
   
}.site-navigation .site-enter a {
    display: inline-block;
    padding-top: 10;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 20px;
     margin-top: 20px;
     margin-right: 10px;
     border: none;
     border-radius: 50px;
     
    
     color: #ffffff;
     background-color: rgba(255, 255,255, 0.2);
}
.site-navigation .site-basket a {
    display: inline-block;
    padding-top: 20;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 30px;
     margin-top: 20px;
     border: none;
     border-radius: 50px;
     
    
     color: #ffffff;
     background-color: rgba(255, 255,255, 0.2);
}
.menu,
.site-navigation {
    list-style: none;   
}
.menu a,
.site-navigation a {
    color:  #ffffff;
}
.site-enter a {
    color:  #ffffff;
}

.site-basket:hover,
.site-basket:focus,
.site-enter:hover,
.site-enter:focus {
    border-radius: 50px;
    color: #353535;
    background-color: #f8f7f4;
   
}
.site-basket a:hover,
.site-basket a:focus,
.site-enter a:hover,
.site-enter a:focus {
    color: #353535;
    
}
.site-password a {
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}
.site-password a:hover,
.site-password a:focus {
    background-color: #aba1a1;
}

.page-time {
    font-size: 14px;
    line-height: 16px;
}
.page-number {
    font-size: 22px;
    line-height: 24px;
}

.menu a:hover,
.menu a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
    color: #353535;
    background-color: #f8f7f4;
    border: 1px solid #f8f7f4;
    border-radius: 10px;
}
.slider {
    position: relative;
    padding-top: 260px;
    text-align: center;
  color: #ffffff;
}

.slider-switch {
    list-style: none;
}
.slider-title {
   
    font-size: 60px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 30px;
   
}
.slider-img {
    position: absolute;
   z-index: -1;
    top: -83px;
    width: 372px;
    height: 584px;
    
}

.slider-decoration a {
    display: inline;
   
    font-size: 32px;
  line-height: 44px;
  text-transform: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
background-image: linear-gradient(#f26843,#e84e37);
padding:10px 38px;
border-radius: 50px;


}
.site-button {
    display: inline-block;
font: inherit;
text-align: center;
font-size: 18px;
line-height: 24px;
color: #ffffff;
border:none;
border-radius: 50px;
padding: 10px 24px;
box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
background-image: linear-gradient(#f26843,#e84e37);
cursor: pointer;
}
.slider-decoration a {
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color:#ffffff;
cursor: pointer;
}
.items {
    display: flex;
    justify-content: space-between;
   text-transform: none;
   margin-bottom: 38px;
   margin-top: 38px;
}


.background-pink {
    width: 420px;
    height: 230px;
    color:#ffffff;
    background-color: #8e1a2c;
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    border-radius:10px;
   
    
}


.background-pink h2,
.background-brown h2 {
    margin: 0;
    padding: 0;
  font-size: 35px;
  line-height: 47px;
}
.background-pink p,
.background-brown p {
    font-size: 18px;
  line-height: 22px;
}


.background-brown {
    width: 420px;
    height: 230px;
    color:#ffffff;
    background-color: #5e3421;
    background-image: url("../img/backgroundshoko.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    border-radius:10px;
   
}
.slider-decoration a:hover,
.slider-decoration a:focus {
    background-color: #e84e37;
}
 
.slider a:hover,
.slider a:focus {
    background-color: #f0e7ce;
}
.background-pink a:hover,
.background-pink a:focus,
.background-brown a:hover,
.background-brown a:focus {
    background-color: #f0e7ce;
}
.ice {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ice {
    display: flex;
    justify-content: space-between;
}
.kind-of-icecream a:hover,
.kind-of-icecream a:focus {
    background-color: #68746d;
}
.ice a {
    font-size: 16px;
    line-height: 22px;
    color: #f8f7f4;
    text-decoration: underline;
}
.ice a:hover,
.ice a:focus {
    background-color: #68746d;
}
.ice-radius {
   
 border-radius: 50%;
}
.ice-price1 {
    position: absolute;
    top: 140px;
    left: 10px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
  
}
.ice-price2 {
    position: absolute;
    top: 140px;
    left: 230px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
  
}
.ice-price3 {
    position: absolute;
    top: 140px;
    left: 460px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-price4 {
    position: absolute;
    top: 140px;
    left: 650px;
    color: #ffffff;
    font-size: 50px;
  line-height: 58px;
}
.ice-kg1 {
    position: absolute;
    top: 150px;
    left: 130px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg2 {
    position: absolute;
    top: 150px;
    left: 350px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg3 {
    position: absolute;
    top: 150px;
    left: 580px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.ice-kg4 {
    position: absolute;
    top: 150px;
    left: 770px;
    color: #ffffff;
    font-size: 22px;
  line-height: 45px;
}
.hit1 {
    position: absolute;
    top: 5px;
    left: -10px;
}
.hit2 {
    position: absolute;
    top: 5px;
    left: 230px;
}
.hit3 {
    position: absolute;
    top: 5px;
    left: 440px;
}
.hit4 {
    position: absolute;
    top: 5px;
    left: 650px;
}
.ice a {
    display: block;
    text-align: center;
    text-transform: none;
}
.information-prouduct {
    width: 100%;
    color: #323232;
    background-color: #f0e7ce;
    background-image: url("../img/layer.jpg");
    background-repeat: repeat;
    background-position: 0 0;
   padding: 20px;
    border-radius: 20px;
    margin: 40px 10px;
}

.information-prouduct h3 {
    font-size: 24px;
  line-height: 30px;
}

.information-description li {
    font-size: 16px;
  line-height: 22px;
  list-style: none;
}
.information-description {
    display: flex;
    justify-content: space-between;
    
}

.recipe {
    width: 420px;
    height: 230px;
    color: #353535;
    background-color: #ffffff;
    background-image:
    url("../svg-gllacy/fhon2.svg"),
     url("../img/background.jpg");
    
    background-repeat: no-repeat;
    background-position: 0 0;
   margin-bottom: 40px;
    border-radius:10px;
 
}
.recipe-subscription {
    display: flex;
    justify-content: space-between;
   
}
.recipe h2 {
    font-size: 16px;
  line-height: 22px;
}
.recipe a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;

}
.recipe a:hover,
.recipe a:focus {
    background-color: #68746d;
}
.map {
    width: 100%;
}
.subscription {
    background-color: #f0e7ce;
    border-radius: 10px;
    width: 400px;
    height: 210px;

}
.subscription1 {
    width: 420px;
    height: 230px;
    color: #5a5a5a;
    background-color: #f8f7f4;
    background-image: url("../svg-gllacy/bg-post.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
   
    border-radius:10px;
}
.subscription1 p {
    font-size: 16px;
  line-height: 22px;
}

.adress {
     color: #323232;
    background-color: #fefefe;
    border-radius:10px;
}
.footer {
    display: flex;
     color: #ffffff;
    background-color: #849d8f;
    
}
.footer-social {
    display: flex;
    justify-content: space-between;
}
.information-magazin {
    display: flex;
}
.footer a:hover,
.footer a:focus {
    background-color: #68746d;
}

.information ul {
    font-size: 13px;
  line-height: 18px;
}
.logohtml p {
    font-size: 12px;
  line-height: 18px;
}
.site-navigation1 form,
.site-navigation2 form {
 color: #323232;
    background-color: #fefefe;
    border-radius:10px;
    width: 312px;
}
.site-password {
    font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.site-navigation2 a {
        font-size: 13px;
  line-height: 16px;
}
.adress h2,
.adress-time  {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.bold {
    font-size: 18px;
    line-height: 24px; 
}

.adress form {
     color: #323232;
    background-color: #fefefe;
    border-radius:50px;
}
.adress-form label {
    font-size: 24px;
  line-height: 28px;
}
.visually-hidden {
    display: none;
}
.footer-social,
.information-magazin {
    list-style: none;
    text-transform: none;
    font-weight: normal;
}
.footer-social a {
    display: none;
}
.information-magazin a {
    color: #f8f7f4;
}
.information-magazin a:hover,
.information-magazin a:focus {
    background-color: #68746d;
}
.logohtml img {
    widows: 108px;
    height: 48px;
}
input {
    font: inherit;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    color: #818181;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}
textarea {
    font: inherit;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    color: #818181;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}
